<div id="container">
    <div id="logo">
      <h2 class="gold_text">ABOUT SEATTLE</h2>
    </div>
    <div id="img_about">
            <div  class="img_about">
              <i class="fa fa-globe"></i>
              <h2 class="gold_text">5,872.35 SQ MI </h2>              
              <h1 class="gliph_text" >AREA</h1>
            </div>
            <div  class="img_about">
              <i class="fa fa-group"></i>
              <h2 class="gold_text">3,798,902</h2>              
              <h1 class="gliph_text" >PEOPLE</h1>
            </div>
            <div  class="img_about">
              <i class="fa fa-clock-o"></i>
              <h2 class="gold_text">UTC-8</h2>              
              <h1 class="gliph_text" >TIME ZONE</h1>
            </div>
            <p class="about">People might be coffee snobs in Seattle. But it’s ok, because Seattle has the best coffee (actually, espresso). 
               Three things you can do to have the best espresso in the world when you’re in Seattle: go to Vivace,
               go to Cafe Ladro, go to Victrola.
               
               It doesn’t rain all the time in Seattle. The summers are actually beautiful and perfect, for the most part.
               Spring, fall, and winter are sort of miserable though, as it’s just cloudy all the time. 
               And what’s most unfortunate is that when it actually does rain, it just mists and sprinkles — it hardly ever thunderstorms. 
               I’d have liked it if it would have thunderstormed for me more often, when I lived there.

            </p>
            


    </div>

</div>