<div id="container">
<app-navigation></app-navigation>
  <div id="header">
    <div id="about_logo">
      <p class="about_text">WELCOME TO</p>
      <p class="about_text">SEATTLE</p>
    </div>
    <img id="header_image" src="assets/images/about_seattle.jpg">
  </div>

  <p class="quotes">Seattle is an exciting urban city surrounded by </p>
  <p class="quotes">unmatched natural beauty. Adventure awaits you. </p>


    <div class="gallery cf">
        <div class="glry">
          <img class="gallery" src="assets/images/gallery/drink.jpg" />
        </div>
        <div class="glry">
          <img class="gallery" src="assets/images/gallery/g1.jpg" />          
        </div>
        <div class="glry">
          <img class="gallery" src="assets/images/gallery/rest.jpg" />
        </div>
        <div class="glry">
          <img class="gallery" src="assets/images/gallery/hiking.jpg" />
        </div>
        <div class="glry">
         <img class="gallery" src="assets/images/gallery/coffee.jpg" />
        </div>
        <div class="glry">
          <img class="gallery" src="assets/images/gallery/lake.jpg" />
        </div>
    </div>


</div>